<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-5">CIS Data Analysis</h1>
            
            <!-- add breadcrumbs -->
            <span style="font-weight:bold;">
                <a href="/desk">Desk</a> >
                <a href="/data_analysis">Data Analysis</a>
                <a href="/cis_analysis" style="color:grey"></a>
            </span>
            
            <hr class="my-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <!-- Master Data -->
                    Dados mestre
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="master_data" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    Summary Figure
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Analysis Guide Table -->
                    Tabela do Guia de Análise
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="analysis_guide_table" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Dashboard -->
                    Dashboard
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="dashboard" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Pivot -->
                    Pivô
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Connection Pivot -->
                    Pivô de conexão
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Billing Pivot -->
                    Faturamento dinâmico
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Meter Details Pivot -->
                    Pivô de detalhes do medidor
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Meter State Pivot -->
                    Meter State Pivot
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;"id="summary_figure" onclick="cis_page_redirect_function(this)">
                        
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Metering Problems -->
                    Problemas de medição
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Alternative Source for Active Customers -->
                    Fonte alternativa para clientes ativos
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Sanitation Guide Table -->
                    Tabela Guia de Saneamento
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Customer Satisfaction -->
                    Satisfação do cliente
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Storage Tank -->
                    Tanque de armazenamento
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Water Supply Pivot -->
                    Pivô de Abastecimento de Água
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
                <li class="list-group-item">
                    <!-- Alternative Source for potentials -->
                    Fonte alternativa para potenciais
                    <button type="button" class="btn btn-info" style="float: right;font-size:12px;" id="summary_figure" onclick="cis_page_redirect_function(this)">
                        <!-- View -->
                        Visualizar
                    </button>
                </li>
            </ul>
        </div>

        
    </div>
</div>
